{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="#home" class="w3-button w3-bar-item">Home</a>
  <a href="http://127.0.0.1:8000/app2/about/" class="w3-button w3-bar-item">About</a>
  <a href="#tour" class="w3-button w3-bar-item">Contact</a>
  <a href="#contact" class="w3-button w3-bar-item">Profile</a>
  <a href="http://127.0.0.1:8000/app2/login/" style="align:right" class="w3-button w3-bar-item" >logout</a>
</nav>

<!-- Slide Show -->
<section>
  <center>
    <p></p>
  <img class="mySlides" src='{% static "second_app/images/travel.jpg" %}'
  style="width:50%">
  <img class="mySlides" src='{% static "second_app/images/tr.jpg" %}'
  style="width:50%">
  <img class="mySlides" src='{% static "second_app/images/hotel.jpg" %}'
  style="width:50%">
    </center>
</section>

<!-- Band Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">TRAVEL TOURISM AND HOSPITALITY</h2>
  <p class="w3-opacity"><i>We love to Explore</i></p>
  <p class="w3-justify">Travel and tourism management system is used to book a tour from anywhere in the
world by a single dynamic website which will help the user to know all about the places and tour
details in a single website. The admin can add packages to the website from a certain travel
agents and hotels by create a tour page. Then the users can sign in and book each project, they
can be confirmed by the admin in their manage booking page. The user can see the confirmation
in their my booking page. It is a easiest platform for all travelers which can be easily booked and
know the all details. Tour Management system is a dynamic website for tourism business.</p>
</section>

<!-- Band Members -->
<section class="w3-row-padding w3-center w3-light-grey">
  <article class="w3-third">
    <p>like to Travel</p>
    <img src='{% static "second_app/images/travelfinal.png" %}' alt="Random Name" style="width:100%">
    <p>start here</p>
  </article>
  <article class="w3-third">
    <p>like to enjoy tour</p>
    <img src='{% static "second_app/images/tour.jpg" %}' alt="Random Name" style="width:100%">
    <p>start here.</p>
  </article>
  <article class="w3-third">
    <p>like to stay</p>
    <img src='{% static "second_app/images/hospitality.png" %}' alt="Random Name" style="width:100%">
    <p>start here</p>
  </article>
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>

  <a href="#"><i class="fa fa-twitter"></i></a>

  <a href="https://www.linkedin.com/in/durgaprasad-vurimi/"><i class="fa fa-linkedin"></i></a>
  <p class="w3-medium">
  Powered by <a href="https://www.kluniversity.in/" target="_blank">KL University sdp</a>
  </p>
</footer>

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}
</script>

</body>
</html>

